*.elc
*.dylib
*-autoloads.el
*~
*.css
.lsp-session*
elpa/
.DS_Store
/aria2*
todo/
diary
eshell/
games/
newsticker/
recentf
bookmarks
smex-items
tramp
url/
local/
sasl-xoauth2/
emacs-gc-stats.eld
tree-sitter/
transient/
multisession/