*.elc
*.dylib
*-autoloads.el
*~
*.css
*.crt
*.key
*.scpt
.org*
.lsp-session*
elpa/
.DS_Store
/aria2*
/network*
todo/
diary
hywiki/
eshell/
games/
newsticker/
recentf
bookmarks
smex-items
tramp
url/
local/
sasl-xoauth2/
emacs-gc-stats.eld
tree-sitter/
transient/
multisession/
eln-cache/
rime/*
!rime/default.custom.yaml
